# every variable in python is acts like object and object has 3 characteristics
# identity
# type
#value

In [1]:
a=10
print(id(a))
print(type(a))
print(a)

1472579888
<class 'int'>
10

In [2]:
b=10
b

10

In [3]:
print(id(b))

1472579888

In [5]:
a=10
b=24.5
c="gitam"
d=2+4j
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

10 24.5 gitam (2+4j)
<class 'int'> <class 'float'> <class 'str'> <class 'complex'>

# number types
## integer
## float
## complex
## blooean
## all numbers are immutable,values are not 
## modified,if they modified new reference is
## pointing to modified value

In [6]:
a=10
print(id(a))
a=100
print(id(a))

1472579888
1472581328

In [7]:
a='t'
print(id(a))

7043296

In [10]:
a=2+5j
print(a)
print(a.real)
print(a.imag)
print(a.conjugate())
c=complex(3,4)
print(c)

(2+5j)
2.0
5.0
(2-5j)
(3+4j)

In [12]:
c=2+5j
d=5+7j
print(c+d)
print(c-d)
print(c*d)

(7+12j)
(-3-2j)
(-25+39j)

In [14]:
str="gitam"
str1='gitam'
print(str)
print(str1)
print(type(str),type(str1))
print(len(str))

gitam
gitam
<class 'str'> <class 'str'>
5

# type convertions
## int()
## float()
## complex()
## list()
## tuple()
## set()
## dict()
## bool()

# input()
## it is used to give the input to the program
## and its return type is string and by
## using type convertions to convert it into
## other types

In [15]:
a=input("enter the number")
print(type(a))
b=int(a)
print(type(b))

enter the number34
<class 'str'>
<class 'int'>

In [16]:
# comments in the python

'''
document srting
'''

'\ndocument srting\n'

In [17]:

'''
print("its given the description about resource of python")

'''

'\nprint("its given the description about resource of python")\n\n'

In [19]:
b="1947"
print(type(b))
print(len(b))
c=int(b)
print(type(c))
#print(len(c))

<class 'str'>
4
<class 'int'>

In [22]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
print("the sum id",c)

enter the first number34
enter the second number67
the sum id 101

# types of operators:
## 1)arthmetic operators
  ### +,-,*,/(decimal quetient),//(integer quetient),**,%
  ### //(floor division)
  ### %(remainder)
  ### **(acts like pow),where arguments are integers

a=12
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)# division with decimal
print(a//b)# floor dividion 
print(a%b)#remainder
print(a**b)#pow(a,b)

## relational operators:
### <,<=,>,>=,==,!=

In [25]:
x=10
y=34
print(x<34)
print(x==y)
print(x!=y)
print(int(x>y))
print(int(y>x))

True
False
True
0
1

# logical operators:
## and or not

In [26]:
x=20
print(x>20 and x<30)
print(x>=30 or x<=20)
print(not(x))

False
True
False

# membership operators:
## in,not in

In [28]:
str1="gitam"
print('i' in str1)
print('z' not in str1)

True
True

# identity operators:
## is,isnot

In [29]:
a=45
b=89
print(a is b)
print(a is not b)

False
True

 # bitwise ops:(work with 0 and 1)
 ## &,|,<<,>>,~
 ## <<leftshift
 ## >>rightshift
 ## ~(1's complement)

# special ops:
## + and , are used for concatenation
## * repetation operator
## [start:stop:step] slice operator
## range(start,stop,step)
## indentation:
## it represents block or{} in c

In [30]:
a=100
print("the value of a is",a)
c=[1,2,3]
d=[4,5,6]
print(c+d)
d="gitam"
print(d*3)
print(d[1:3])
print(list(range(1,10,2)))

the value of a is 100
[1, 2, 3, 4, 5, 6]
gitamgitamgitam
it
[1, 3, 5, 7, 9]

# control sattements
## 1) simple if statement
### if(condition):
     statement1
     statement2

In [31]:
a=int(input("enter the number"))
if(a>0): 
  print("it is +ve no")
if(a<0):
    print("it is -ve no")
    if(a==0):
        print("it is zero")

enter the number10
it is +ve no

## control statements:
## 1) if-else statement
  ### if (condition):
      statement1
      statement2
 ### else:
      statement1
      statement2

In [32]:
n=int(input("enter the number"))
if(n%2==0):
    print(n,"is even number")
else:
    print(n,"is odd number")

enter the number3
3 is odd number

In [ ]:
n=int(input("enter the number"))
ifn%4==0):
    print(n,"is leap year")